html {
   font-size: 62.5%;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.body {
  display: flex;
  justify-content: center;
}

.beer-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 5rem;
  font-size: 1.5rem;
}

.main-container {
  width: 65rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  width: 37rem;
  height: 45rem;
  padding: 2rem;
  background: #f8f9fa;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  
}

.grid {
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  
}

.header {
  height: 4rem;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  
}

.header p {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin: auto;
  color: white;
  
  text-transform: uppercase;
  text-decoration: none;
}

.beer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3rem;
  width: 50rem;
  height: 100rem;
  padding: 2rem;
  background: #f8f9fa;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  

}

.beer-cont {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
 
  
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem;
  width: 40%;
}
.input-item {
  margin: 2rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.input-item input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
}

.input-item button {
  margin-top: 2rem;
  width: 50%;
  
}